/* Estilos básicos para la barra de navegación */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #CDC6C3;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between; /* Aseguramos que los elementos estén en los extremos */
    align-items: center; /* Centramos verticalmente */
    padding: 10px 20px;
    z-index: 999; /* La navbar encima de otros elementos */
}

/* Ajuste del logo */
.navbar .logo img {
    height: 40px;
}

.hamburger-menu {
    display: none; /* Ocultamos el menú hamburguesa en pantallas grandes */
    cursor: pointer;
}

/* Estilos de los enlaces de navegación en pantallas grandes */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px; /* Espacio entre enlaces */
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* Estilos para las líneas del menú hamburguesa */
.line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}

/* Estilos para el modo móvil */
@media screen and (max-width: 768px) {
    /* Mantén el logo a la izquierda y el menú a la derecha */
    .navbar {
        flex-direction: row;
        justify-content: space-between; /* Elementos en extremos opuestos */
        padding: 10px 20px;
    }

    .nav-links {
        display: none; /* Ocultamos los enlaces de navegación por defecto en móvil */
        flex-direction: column;
        position: absolute;
        background-color: #E8DFD8;
        top: 60px;
        right: 0;
        width: 100%;
        z-index: 999;
    }

    .nav-links.open {
        display: flex; /* Mostrar enlaces cuando el menú está abierto */
    }

    /* Mostramos el menú hamburguesa en modo móvil */
    .hamburger-menu {
        display: block;
    }

    .nav-links li {
        line-height: 1.5;
        margin: 15px 0;
    }

    /* Estilo de la "X" para cerrar el menú */
    .close {
        display: block;
        font-size: 24px;
        color: rgb(0, 0, 0);
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }
}
















